.item{
    margin: 10px;
    min-width: 250px;
    min-height: 100px;
    padding: 5px;
    border: 1px solid grey;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.delete-checkbox{
    position: relative;
    right: 110px;
}
.item > p{
    margin: 0;
}
input.form-control, select.form-control{
    max-width: 260px;
}